:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --logo-color: #000000;
}

body {
  background: var(-primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* -----RESET----- */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container-footer,
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  /* outline: 3px solid rgb(46, 2, 2); */
}

.list {
  display: flex;
}

/*  ----....-----СТУДІЯ-----....-----*/

.header-container {
  display: flex;
  align-items: center;
}

/* Логотип */
.logo-head.link {
  margin-right: 93px;
}

.logo-head.link,
.footer-logo.link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-head {
  color: var(--logo-color);
}

.web {
  color: var(--link-color);
}

/* Навігація */
.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--link-color);
}
.current {
  color: var(--link-color);
}

/* .list.menu>.link{
	position: relative; */

/* .list.menu{position: relative;} */

.item-menu {
  position: relative;
  /* outline: 1px solid red; */
}

.current::after {
  content: "";
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 40px; */
  height: 4px;
  bottom: 0;
  /* left: 546px;
	top: 76px;
	 */
  background: var(--link-color);
  border-radius: 2px;

  position: absolute;
  /* left: 50%;
	bottom: 0;
	transform: translate(-50%); */
}

.logo-head.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Меню */

.list.menu {
  align-items: center;
  gap: 50px;
}

.link.studia,
.link-studio,
.link-contact,
.link.current,
.link-portfolio,
.contact-header {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Контакти */

.contacts.list {
  margin-left: auto;
}

.contact-item:first-child {
  margin-right: 50px;
}

.contact-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--link-color);
}

.header-icon {
  fill: currentColor;
}

/* -------------ТІЛО------------ */

.section.slogan {
  /* display: flex; */
  padding-top: 200px;
  padding-bottom: 200px;
}

.section.slogan {
  margin: 0 auto;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/fon-img.jpg);
}

.slogan-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 30px;
  color: var(--primary-bg-color);
}

.button {
  font-family: "Roboto";
  font-size: 16px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-service {
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  display: block;
  margin: auto;

  color: var(--primary-bg-color);
  background: var(--link-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-service:focus,
.btn-service:hover,
.btn-service:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Характеристика нашої роботи */

.paragraph {
  width: 271px;
}

.section-title {
  color: var(--title-text-color);
}

.section-title.characteristic {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list.character {
  display: flex;
  gap: 30px;
}

.paragraph {
  line-height: 1.71;
}

.section-character {
  padding-top: 94px;
  padding-bottom: 94px;
}

.character-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-character {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.item-activity {
  position: relative;
}

.activity-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;

  color: var(--primary-bg-color);
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
}


/* Чим ми займаємося */

.activity-pic.list,
.list-comand {
  gap: 30px;
}

.section.do {
  padding-bottom: 94px;
}

.section-title.do {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.section-title.characteristic,
.section-title.name {
  margin-bottom: 10px;
}

/* Наша команда */

.comand-item {
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
}

.div-comand {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section.comand {
  background-color: var(--third-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.work {
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--link-color);
  color: #ffffff;
}

.socials-icon {
  fill: currentColor;
}

/* Постійні клієнти */

.container.clients {
  padding: 94px 215px;
}

.clients.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #afb1b8;
}

.client-item {
  display: block;
  display: flex;
  width: 170px;
  height: 92px;
}

.clients-link.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;

  border: 1px solid currentColor;
  border-radius: 4px;

  color: #afb1b8;
}

.clients-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--link-color);
}

/* ----------ПІДВАЛ-----------*/

.list-footer {
  display: inline;
}

.footer-logo.link {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.studio {
  color: var(--primary-bg-color);
}

.work {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-bg-color);
}

.maps.link,
.contact-footer {
  display: block;
  line-height: 1.71;
  font-weight: normal;
  font-style: normal;
}

.maps.link {
  color: var(--primary-bg-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer.link {
  color: rgba(255, 255, 255, 0.6);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer.link:hover,
.contact-footer.link:focus,
.maps.link:hover,
.maps.link:focus {
  color: var(--link-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.container.footer {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.section-title.footer {
  font-style: bold;
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contain-socials {
  display: flex;
  flex-direction: column;
}

.socials-link.footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.socials-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--link-color);
  color: #ffffff;
}

.socials-icon {
  fill: currentColor;
}

/* ------------Modal window ------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;

  transform: translateX(-70%) translateY(-50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms, opacity 250ms;
}

.modal-btn {
  display: inline-flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  right: 0;
  cursor: pointer;
}

.modal-icon {
  fill: #000000;
}

/*  ----....-----ПОРТФОЛІО-----....-----*/

.head {
  border-bottom: 1px solid #ececec;
}

.list.projects {
  margin-right: 0;
}

/* Кнопки*/
.btn-list {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;

  background: var(--third-bg-color);
  color: var(title-text-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list:first-child {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-list:focus,
.btn-list:hover,
.btn-list:active {
  color: var(--primary-bg-color);
  background: var(--link-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.products.list {
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

/* --------ПРОЕКТИ------- */

/* .project-item{
	outline: 1px solid orangered;
} */

.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list.projects {
  display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  max-width: 370px;
  flex-basis: calc((100%-30px * 3) / 3);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ....Overley..... */

.team-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgb(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms;
}

.overlay-text {
  display: flex;
  align-items: center;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project-item:hover .overlay {
  transform: translateY(0);
}

.link-project {
  display: block;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-project {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--title-text-color);
}

.job {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
